@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

body {
  background-color: #E7E7E3;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}